<!DOCTYPE html>
<html ng-app="sparql" ng-csp>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="stylesheets/bootstrap.css" />
        <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css" />
        <link rel="stylesheet" href="stylesheets/codemirror.css" />
        <link rel="stylesheet" href="stylesheets/main.css" />
        <title>SPARQL</title>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>SPARQL</h1>
            </div>
            <div ng-controller="query">
                <div ng-show="alert" ng-class="{'alert-error':alert.type=='error', 'alert-success':alert.type=='success', 'alert-info':alert.type=='info'}" class="alert">
                    <button ng-click="dismiss()" class="close">×</button>
                    {{alert.message}}
                </div>
                <form>
                    <div>
                        <codemirror value="queryString" />
                    </div>
                    <div class="well">
                        <button ng-click="submitQuery()" class="btn btn-primary">Submit Query</button>
                        <div class="store">
                            Triples: {{triples}}
                            <button ng-click="clear()" class="btn">Clear Store</button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </form>
                <table ng-show="sparqlResult.length > 0" class="table table-striped table-fixed word-wrap">
                    <thead>
                        <tr>
                            <th ng-repeat="variable in sparqlResultVariables">
                                {{variable}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="solution in sparqlResult">
                            <td ng-repeat="binding in solution">
                                {{binding.value}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="scripts/jquery.js"></script>
        <script src="scripts/angular.js"></script>
        <script src="scripts/rdfstore.js"></script>
        <script src="scripts/codemirror.js"></script>
        <script src="scripts/codemirror-sparql.js"></script>
        <script src="scripts/app.js"></script>
    </body>
<html>
