<!DOCTYPE html>
<html ng-app="sparqling" ng-csp>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular/angular-csp.css" />
        <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css" />
        <link rel="stylesheet" href="stylesheets/main.css" />
        <title>Sparqling</title>
    </head>
    <body>
        <div ng-controller="main" class="container">
            <div class="page-header">
                <h1>
                    Sparqling
                    <small><a href="https://github.com/agrueneberg/Sparqling">GitHub</a></small>
                </h1>
            </div>
            <div ng-show="alert" ng-class="{'alert-danger':alert.type=='error', 'alert-success':alert.type=='success', 'alert-info':alert.type=='info'}" class="alert">
                <button ng-click="dismiss()" class="close">×</button>
                {{alert.message}}
            </div>
            <div ui-codemirror="{ onLoad: codeMirrorLoaded }"></div>
            <div class="well clearfix">
                <div class="pull-left">
                    <button ng-click="submitQuery()" class="btn btn-primary">Submit Query</button>
                </div>
                <div class="pull-right">
                    <div class="btn-group">
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Graphs
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li ng-repeat="graph in graphs">
                                    <a>&lt;{{graph.uri}}&gt;: {{graph.count}} triples</a>
                                </li>
                            </ul>
                        </div>
                        <input id="file-import" type="file" />
                        <button id="fake-file-import" class="btn btn-default" type="button">Import File</button>
                        <button ng-click="clear()" class="btn btn-default" type="button">Clear Store</button>
                    </div>
                </div>
            </div>
            <table ng-show="sparqlResult.length > 0" class="table table-striped table-fixed word-wrap">
                <thead>
                    <tr>
                        <th ng-repeat="variable in sparqlResultVariables">
                            {{variable}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="solution in sparqlResult">
                        <td ng-repeat="binding in solution">
                            {{binding.value}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/codemirror/lib/codemirror.js"></script>
        <script src="bower_components/codemirror/mode/sparql/sparql.js"></script>
        <script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
        <script src="scripts/rdfstore.js"></script>
        <script src="scripts/app.js"></script>
    </body>
<html>