.clear {
    clear: both;
}
.word-wrap {
    word-wrap: break-word;
}
.table-fixed {
    table-layout: fixed;
}
.CodeMirror {
    margin-bottom: 18px;
}
.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}
.store {
    float: right;
}
